.imgarti{
    background-size: cover;
        background-position: 50% 75%;
        background-repeat: no-repeat;
        height: 80vh;
}
.back{
    background:linear-gradient(white,$sec);

article{
    
    width: 60%;
    margin: auto;
    h2{
        padding-top: 2em;
        padding-bottom: 1em;
        width: 90%;
        margin: auto;
    }
    .span{
        padding: 2em 0em;
    }
}
}
#artfoot{
    margin-top: 0%;
}
